
.modal{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    pointer-events: none;
    
}

.modal__content{
    padding: 2px;
    background-color: rgb(243,243,247);
    transform: scale(0.3);
    width: 30vw;
    right: -30vw;
    transition: all linear 0.3s;
}
.modal.active{
    opacity: 1;
    pointer-events: all;
}

.modal__content.active{
    transform: scale(1);
    
}
.content{
    text-align: center;
    padding-top: 100px;
}
.btn>a{
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
    background: orange;
    border-radius: 25px;
}
.btn{
    margin-top: 25px;
}
.total{
    margin-top: 10px;
    margin-left: 15px;
}
.footer{
   position: absolute;
   bottom: 0;
   width: 100%;
   padding: 5px;
   background: white;
}
.promocode{
    width: 100%;
    padding-bottom:10px;
    padding-top:10px ;
    border: none;
    border-bottom:1px solid rgb(179, 179, 179) ;
    font-size: 18px;
    
}

.promocode:focus{
    outline: none;
}

.info{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}
.info>p{
    margin: 0;
}
.info>div{
    font-size: x-large;
    font-family: 'Roboto Mono', monospace;
}
.btn_sec{
    background: orange;
    color: white;
    border: none;
    border-radius: 50px;
    width: 100%;
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
}
.list{
    height: 388px;
    overflow-y:auto;
}
.list::-webkit-scrollbar { 
    width: 6px; 
  } 
   
  /* Track */ 
  .list::-webkit-scrollbar-track { 
    border-radius: 10px; 
  } 
    
  /* Handle */ 
  .list::-webkit-scrollbar-thumb { 
    background: rgb(255, 105, 0);  
    border-radius: 10px; 
  } 
   
  /* Handle on hover */ 
  .list::-webkit-scrollbar-thumb:hover { 
    background: rgb(255, 60, 0);  
  }